#container{
    display:grid;
    height: 80vh;
    width:80vw;
    border:2px solid black;
    /* grid-template-columns: 20vw 20vw 40vw; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 1fr 1fr 2fr;             (4parts) */
    grid-template-columns: repeat(3, 1fr) 2fr;           
    /* grid-template-rows: 20vh 20vh 20vh; */
    grid-template-rows: repeat(3,1fr);
}

#container > div{
border:1px solid black;
}

#container >div:nth-child(3){
    background-color: aqua;
    grid-row:2/4;
    grid-column: 3/5;
}