#container{
    width:50vw;
    height:50vh;
    background-color: aqua;
}


/* @media (width>=500px){
} */

@media (min-width:500px){
#container{
    background-color:red;
}
}

@media (max-width:500px){
#container{
    background-color:yellow;
}
}